<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.animsample"
          android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PreHCActivity"
            android:label="@string/demo_pre_hc"/>

        <activity
            android:name=".MainViewPropertyAnimActivity"
            android:label="@string/demo_view_property_animation"/>

        <activity
            android:name=".PreHCViewPropertyAnimActivity"
            android:label="@string/demo_view_property_animation_pre_hc"/>


        <activity
            android:name=".TwoSidesFramesActivity"
            android:label="@string/demo_two_sides_frames"/>
    </application>

</manifest>
